body {
    background-color: rgba(205, 242, 255, 0.952);
    
}

.top {
    text-align: center;

}

.big {
    display: flex;
    justify-content: center;
    padding: 50px;
    margin: 100px;
    column-gap: 30px;
   
}

h3,h2 {
    text-align: center;
}

.free {
    background-color: white;
    text-align: center;
    border-radius: 10px;
    
   

}
.big fieldset:hover {
    
            transform: scale(1.1);
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.big div:hover {
    
    transform: scale(1.1);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

button {
    background-color: forestgreen;
    border-radius: 10px;
    object-position: center;

}

 
legend {
    background-color: green;
    text-align: center;
    
}
fieldset{
    border-color: green;
    background-color: white;
    text-align: center;
   border-radius: 10px;
   
}

ul {
    text-align: left;
}